.menu{
    border-right: 1px solid #ececec;
    transition: all .3s ease;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden ;
    position:fixed;
    
    
}
.menu-item {
    padding: 5px;
    transition: all .3s ease;
    
}
 .menu-item .label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
    user-select: none;
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
    font-size: 15px;
    color: #6a6a6a;
    transition: all 0.3s ease;
}
.menu-item .header{
    display: flex;
    flex-direction: row;
    justify-content: left;
    white-space: nowrap;
    user-select: none;
    padding: 5px 20px;
    box-sizing: border-box;
    font-size: 15px;
    color: #6a6a6a;
    transition: all 0.3s ease;
}
 .menu-item .label > div {
    display: flex;
    align-items: center;
    gap: 20px;
}

 .menu-item .label:hover {
    background: #deedff;
    cursor: pointer;
}
 .menu-item .items-container {
    width: 100%;
    left: calc(100% + 6px);
    transition: height 0.3s ease-in-out;
    overflow: hidden;
    border-left: 1px solid #e0e0e0;
    margin-left: 20px;
}

.navbar-brand {
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 4.85rem;
}

.vline{
    border-right: 1px solid #ececec;
    display : flex;
    align-items: center;
}

.navbar-brand > img {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    z-index: 100000;
}

.d-flex{
  border-left: 1px solid #ececec;
}

.d-flex :hover{
  color: blue;
  cursor: pointer;
}

.menu slide{
  transform: translateX(0);

}

.menu-toogle{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  display: none;
}


.menu-toogle span{
  background-color: #000000;
  width: 28px;
  height: 3px;
  margin: 0px 1px;
  display: block;
  transition: all 0.3s ease-in-out;
}

.layout{
  display: flex;      

}

.content{
  flex:5;
  background-color: white;
}




@media (max-width: 1920px) {

.container-xxl {
       max-width: 1500px;
}


}


@media screen and (max-width: 700px) {
.menu{
display: none;
background-color: rgba(245,247,249,1.00) ;
}
.vline{
border: none;
}
.texts{
display: none;
        
}
.d-flex{
border: none;
}

.menu-toogle{
display: flex;
}

.container-fluid{
    padding: 0px
}

}


